@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
    animation: fadeIn 1s ease-in;
}
@keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
  .fade-out {
      animation: fadeOut 1s ease-out;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-size: contain;
    background-image: url();
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
   }  /* This is a hack to remove the calendar icon from the date input field */

   .font-avanta {
    font-family: Avanta Garde;
   }