@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}

#dateRegister::-webkit-calendar-picker-indicator {
  background-size: contain;
  background-image: url();
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
#dateAdminUser::-webkit-calendar-picker-indicator {
  background-size: contain;
  background-image: url();
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

/* This is a hack to remove the calendar icon from the date input field */

.font-avanta {
  font-family: Avanta Garde;
}

@keyframes goesIn {
  from {
    translate: -400%;
  }

  to {
    translate: 0;
  }
}

.goes-in {
  animation: goesIn 1s;
}

@keyframes goesOut {
  from {
    translate: -100%;
  }

  to {
    translate: 0;
  }
}

.goes-out {
  animation: goesOut 1s;
}

/* .custom-w {
  width: calc(100% - 208px);
} */

@keyframes popUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.pop-up {
  animation: popUp 0.5s;
}

/* Spinner */
.spinner-border {
  display: inline-block;
  width: 24px; /* Kích thước spinner */
  height: 24px;
  margin-top: 5px;
  border: 3px solid rgba(0, 0, 0, 0.3); /* Viền mờ */
  border-top-color: #064d7c; /* Màu viền trên */
  border-radius: 50%; /* Hình tròn */
  animation: spin 0.8s linear infinite; /* Hiệu ứng xoay */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
